body{background-color: #bfbfbf;}

.template{width:1000px;
          margin: 0 auto;
         }


.header{height:85px; background-color: black;}
.header h2{font-size:40px; text-align:center; padding:15px; color:#bfbfbf; }
.maincontent{height: 500px;background-color: #4e4e4e;padding: 1px;}
.chessboard {
    width: 400px;
    height: 400px;
    margin: 50px auto;
    border: 10px solid #6f6f6f;

}
.white {
    width: 50px;
    height: 50px;
    background-color: #fffef7;
    display: table-cell;
    float: left;


}
.black {
    width: 50px;
    height:50px;
    background-color:#000000;
    display: table-cell;
    float: left;


}
.footer{height:75px; background-color: black;padding: 1px;}
.footer p{font-size:25px;text-align: center;padding: 3px;font-style: italic;color:#bfbfbf; }