
body {
    background: #999;

}
/*-------------Input Form--------------*/
.topsection{width:350px;
    position: relative;
    margin: 0 auto;
    background: rgba(130,130,130,.3);
    border: 1px solid;
    border-top-color: rgba(255,255,255,.4);
    border-left-color: rgba(255,255,255,.4);
    border-bottom-color: rgba(60,60,60,.4);
    border-right-color: rgba(60,60,60,.4);
    margin-top: 120px;
}


.topsection h2{
    font-family: "Arial Black";
    text-align: center;
    color:#fffef7;
    font-weight: bold;
    }
.wrapper{
    position: relative;
    width: 305px;
    margin: 0 auto;
    background: rgba(130,130,130,.3);
    padding: 20px 22px;
    border: 1px solid;
    border-top-color: rgba(255,255,255,.4);
    border-left-color: rgba(255,255,255,.4);
    border-bottom-color: rgba(60,60,60,.4);
    border-right-color: rgba(60,60,60,.4);

}

 input[type=text] {
    width: 212px;
    height: 40px;
    border: 1px solid;
    border-bottom-color: rgba(255,255,255,.5);
    border-right-color: rgba(60,60,60,.35);
    border-top-color: rgba(60,60,60,.35);
    border-left-color: rgba(80,80,80,.45);
    background-color: rgba(0,0,0,.2);
    background-repeat: no-repeat;
    padding: 8px 24px 8px 10px;
    font: bold .875em/1.25em "Open Sans Condensed", sans-serif;
    letter-spacing: .075em;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    margin-left: 25px;
    margin-bottom: 15px;

}

 input[type=submit] {
    width: 200px;
    height: 45px;
    margin-bottom: 0;
    color: #fff;
    letter-spacing: .05em;
    text-shadow: 0 1px 0 #133d3e;
    text-transform: uppercase;
    background: #225556;
    border-top-color: #9fb5b5;
    border-left-color: #608586;
    border-bottom-color: #1b4849;
    border-right-color: #1e4d4e;
    cursor: pointer;
    margin-left:50px;
}
/* ------------Chat Window--------------*/
.chatwindow {

    width:620px;
    height:530px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 0;
    background: #fff;
    padding: 20px;
    box-shadow: 0 3px #ccc;
    background-color: rgba(0,0,255,0.1);
}

.chattop{
    
    padding: 10px;
    width: 600px;
    height: 50px;
    background-color: #eeeeee;
    margin: 0 auto;
    margin-bottom: 0;
    background-color: rgba(0,0,255,0.1);
    overflow: hidden;
    padding-bottom: 25px;

}

.chattop h3{color: white; font-weight: bold;text-align: left; font-family: Arial;float: left;}
.chattop a{color: white; font-weight: bold;text-align: left; font-family: Arial;float: right;text-decoration: none;}

.chatbottom{

    padding: 10px;
    width: 640px;
    height: 80px;
    background-color: #eeeeee;
    margin: 0 auto;
    margin-bottom: 0;
    background-color: rgba(0,0,255,0.1);
    overflow: hidden;

}

.chatbottom input[type="text"]{
    height: 35px;
    padding: 15px 20px;
    color:#fff;
    font-size: 15px;
    border-color:#fffef7;
    margin-top: 2px;
    width:430px;
    margin:0 0 10px 0;
}

.chatbottom input[type="submit"]{
    height: 40px;
    padding: 15px 20px;
    color:#fff;
    font-size: 15px;
    border-color:#fffef7;
    margin-top: 2px;
    width:150px;
    margin:0 5px 10px 0;
}
.chatarea{
    background-color: rgba(255,255,255,0.1);
    overflow-x: hidden;
    margin:0 0 10px 0;
    border-radius: 10px;
    width:620px;
    height: 450px;
}














































