body{background-color:#fffef7;}

.topsection{
    padding: 10px;
    margin: auto;
    text-align: center;
    width:700px;
    height:300px;
    background-color:rgba(0,0,255,0.2) ;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 100px;
}

.topsection h2{

    font-family: "Consolas", "Menlo", "Courier", monospace;
    text-align: center;
    color: #00007d;
    font-size: 50px;
    margin: 30px 0 30px 0;

}
input[type="text"]{
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
    padding-left: 30px;
    font-size: 12px;
}

input[type="submit"]{
    height: 48px;
    padding: 15px 20px;
    color:#fff;
    background-color: #000060;
    font-size: 15px;
    border-color:#fffef7;
    border-width: 4px;
    margin-top: 2px;
}

input[type="file"]{
    height: 20px;
    padding: 15px 20px;
    color:#fff;
    background-color: #000060;
    font-size: 15px;
    border-color:#fffef7;
    border-width: 4px;
    margin-top: 2px;
}

.output{
    padding: 10px;
    width:700px;
    background-color:rgba(0,0,255,0.2) ;
    border-radius: 10px;
    margin: 10px 0 10px 30px;
}

.output h3{
    font-family: "Consolas", "Menlo", "Courier", monospace;
    text-align: center;
    color: #00007d;
    font-size: 30px;
    margin: 30px 0 30px 0;

}


.title{
    font-size: 25px;
    color: white;



}

