body{margin: 0 auto;
    background-color: rgba(0,0,255,0.4);}

.topsection{
    padding: 10px;
    margin: auto;
    text-align: center;
    width:400px;
    height:125px;
    background-color:rgba(0,0,255,0.2) ;
    border-radius: 10px;
    margin-bottom: 30px;
}

.topsection h2{

    font-family: "Consolas", "Menlo", "Courier", monospace;
    text-align: center;
    color: #00007d;
    font-size: 50px;
    margin: 0 0 10px 0;

}

.container{
    width:600px;
    height: 600px;
    margin:0 auto;
    padding: 10px;
    margin-top: 40px;
}

input[type="text"]{
    height: 45px;
    width: 150px;
    margin-bottom: 20px;
    padding-left: 30px;
    font-size: 12px;
    }

input[type="submit"]{
    height: 48px;
    padding: 15px 20px;
    color:#fff;
    background-color: #000060;
    font-size: 15px;
    border-color:#fffef7;
    border-width: 4px;
    margin-top: 2px;
}

table{
    border-style: outset;
    border-width: 20px ;
    border-color: #bf3400;
    height: 400px;
    width:400px;
    margin-top: 0;
}